
<!DOCTYPE html>
<html>
    <head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-
BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>

    <body>
        <hl>Please enter species key you want to view
            <br>All species keys: ['2441135', '2441030', '5220182', '5220160', '5220161', '2441187', '2441034', '5220185', '2441247',
            <br>'2441038', '2441225', '2436566', '2436548', '5707341', '5219436', '5218777', '5219404',
                      '5219146', '2435350']
        </hl>
        <form method="POST" action="/sendspeciesKey">
            <div class="form-group">
                <input type="text" name="name">
            </div>
            <input class="btn btn-primary" type="submit" value="submit">
        </form>
    </body>
</html>
